<html>

<head>
  <title>flowerCatalog</title>
  <script src="js/guestBook.js"></script>
</head>

<body>
  <h1 style="text-align: center;color:orange;"> <a href="./flowerCatlog.html">
      <<</a> Guest Book <a href="/logout" style="font-size: 18px;">Logout</a></h1>

  <h3>Leave comment</h3>

  <form action="add-comment" method="POST">
    <div>
      <label for="name">Name : </label>
      <input type="text" name="name" id="name" value="--name--">
    </div>
    <br>
    <div>
      <label for="comment">comment</label>
      <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
    </div>
    <br>
    <button id="submit" type="button">Submit</button>
  </form>
  <div style="border-top: 1px solid black;">
    --comments--
  </div>
</body>

</html>